.class-dashboard-shortcut .MuiCardHeader-title {
  font-weight: bold !important;
}

.class-dashboard-shortcut .MuiCardHeader-content {
  display: flex;
  justify-content: space-between;
}

.class-dashboard-shortcut .MuiCardHeader-subheader {
  font-weight: bold;
  font-size: 15px;
}

.shortcut-wrap {
  padding: 20px;
}

.class-dashboard-shortcut {
  width: 20%;
}

.shortcut-wrap {
  display: flex;
  justify-content: space-between;
}

.class-dashboard-shortcut:hover {
  cursor: pointer;
}

.MuiIconButton-root {
  color: aqua;
}

.t-class-wrap {
  min-width: 250px;
  max-width: 250px;
  min-height: 150px;
  height: 150px;
  margin: 10px;
  position: relative;
}

.t-class-wrap .wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.t-class-bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.9;
}

.wrap .content-wrap {
  z-index: 9;
}
